{{define "title"}}Inbox :: Gleez SMTPD{{end}}

{{define "script"}}
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/FileSaver.min.js"></script>
	<script src="/public/js/incus.js"></script>
	<script src="/public/js/notify.js"></script>
	<script src="/public/js/bootstrap-table.min.js"></script>
	<script src="/public/js/moment.min.js"></script>
	<script src="/public/js/lodash.min.js"></script>
    <script src="/public/js/table.js"></script>
    <script src="/public/js/bootstrap-table-export.js"></script>
    <script src="/public/js/tableExport.min.js"></script>
{{end}}

{{define "menu"}}
	<li><a href="/">Home</a></li>
	<li><a href="/status">Status</a></li>
	<li class="active"><a href="/mails">Inbox <span id="NewMail" class="badge"></span></a></li>
{{end}}

{{define "content"}}
	<div id="mails" class="row">
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar">
                    <button id="remove" class="btn btn-danger" disabled onclick="deleteMessage()">
                        <i class="glyphicon glyphicon-remove"></i><span id="removeButtonText">Delete</span> 
                    </button>
                </div>
                <table id="tablev2"
                    data-toolbar="#toolbar"
                    data-row-style="rowStyle"
                    class="list-group"
                    data-click-to-select="false"
                    data-sort-stable="true"
                    data-query-params="queryParams"
                    data-show-refresh="true"
                    data-show-export="true"
                    data-row-attributes="getRowAttributes"
                    data-show-header="true"
                    data-show-pagination-switch="true"
                    data-pagination-v-align="top"
                    data-show-footer="false"
                    data-pagination="true"
                    data-page-size="25"
                    data-side-pagination="client"
                    data-cache="false"
                    data-sort-name="Date"
                    data-detail-view="true"
                    data-detail-formatter="detailFormatter"
                    data-show-toggle="true"
                    data-response-handler="responseHandler"
                    data-toggle="table" data-search="true" data-show-columns="true" data-id-field="Id" data-url="/search2?search=.*?&limit=2500"
                >
                    <thead>
                        <tr>
                            <th data-field="-" data-checkbox="true">Selected</th>
                            <th data-field="Starred" data-width="5%" data-sortable="true" data-visible="true" data-formatter="formatStarred">Starred</th>
                            <th data-field="Id" data-sortable="true" data-searchable="true" data-visible="false">Id</th>
                            <th data-field="To" data-sortable="true" data-width="15%" data-visible="false" data-searchable="true" data-formatter="formatToMailAddress">To</th>
                            <th data-field="Subject" data-width="40%" data-searchable="true" data-sortable="true">Subject</th>
                            <th data-field="From" data-sortable="true" data-width="15%" data-searchable="true" data-formatter="formatMailAddress">From</th>
                            <th data-field="Timestamp" data-sortable="true" data-width="15%" data-order="desc" data-formatter="formatTimestamp" data-visible="true">Date</th>
                            <th data-field="Created" data-width="15%" data-sortable="true" data-formatter="formatTimestamp" data-sortable="true">Received</th>
                            <th data-field="Attachments" data-width="10%" data-sortable="true" data-formatter="formatAttachment" data-sortable="true">Attachment</th>
                            <th data-field="Unread" data-sortable="true" data-visible="false">Unread</th>
                            <th data-field="Unitname" data-sortable="true" data-visible="false">Unit Name</th>
                            <th data-field="EmailType" data-sortable="true" data-visible="false">Email Type</th>
                            <th data-field="Details" data-sortable="false" data-visible="true" data-formatter="formatDetails">Info</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
	</div>
{{end}}